<?xml version='1.0' encoding='utf-8'?>
<widget id="com.darseislami.darsenazami" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DarseIslami</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <plugin name="cordova-plugin-admob-free" spec="^0.20.0">
    <variable name="ADMOB_APP_ID" value="ca-app-pub-6647961587162405~8302165411" />
</plugin>
</widget>
